extends base.pug


block style
  style   
      include ../static/css/indexstyle.css
      include ../static/css/popup.css
     
      

block content 
    div.pcontainer
        h1.pheading  
            | Please Enter Valid Id or Password
        a.pa(href="/login") 
            button.pbtn OK


