extends base.pug

block scripts  
    script(src='https://kit.fontawesome.com/bf618deaa2.js', crossorigin='anonymous')
    script(src='../static/js/hamburger.js')


block style
  style   
      include ../static/css/indexstyle.css
      include ../static/css/upperbody.css
      link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap', rel='stylesheet')

block content 

    section#home
      h1#head1 Upper Body
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odit dignissimos similique expedita? Consequatur eligendi aperiam rem adipisci aliquid facilis, nesciunt earum minima blanditiis ratione deserunt, ea magni voluptatibus suscipit?
    #warmhead
      h1#head2 Upper Body Exercises
    section#warmup
      .content
        .exercises
          h2.exercisename 1. Push-up: 3 – 6 sets of 6 – 12 reps
          p.exercisepara
            | The push-up is one of the most efficient bodyweight exercises you can do to build strength in your chest and triceps. But it also gives your shoulders, core muscles, lower back, and lower body a workout.
          ul.exercisepoints
            li Lie facedown and place hands on the floor, slightly wider than shoulders.
            li
              | Push up to lift shoulders, torso, and legs until arms are fully extended.
            li
              | Only your hands and toes should be touching the floor.
            li
              | Slowly lower your body until chest almost touches the floor, then repeat.
        .vid
          img(src='/static/images/upperbody_1.gif', alt='')
      .content
        .exercises
          h2.exercisename 2. Burpee: 6 per minute for 15 minutes
          p.exercisepara
            | Need a more explosive exercise? The burpee may be the ultimate bodyweight exercise mash-up, working your chest, core, arms, back, glutes, and legs for a full-body cardio workout.
          ul.exercisepoints
            li  From a standing position, lower yourself into a squat and put both hands on the floor, just wider than your feet.
            li
              | Jump feet back into a plank position. 
            li
              | Do a push-up, returning to the plank position.
            li
              | Draw your legs back up into a squat, then jump up explosively with your hands above your head. Repeat.
        .vid
          img(src='/static/images/upperbody_2.gif', alt='')
      .content
        .exercises
          h2.exercisename 3. Pull-up: 3 sets of 2–5 reps
          p.exercisepara
            | The pull-up can be intimidating, especially when you’re just starting out. But it’s a great bodyweight exercise to work your shoulders, upper back, and biceps. Start with just a few reps and work your way up as you get stronger.
          ul.exercisepoints
            li Grab the pull-up bar with an overhand grip, wrapping your thumbs around the bar. 
            li “Play dead” — start in a dead hang from the bar.  
            li Squeeze the bar with your hands and engage the muscles of your upper body and core.  
            li Pull up until chin clears the bar. 
            li Slowly lower yourself back into the dead-hang position. Repeat. 
        .vid
          img(src='/static/images/upperbody_3.gif', alt='')
      .content
        .exercises
          h2.exercisename 4. Plank-up: 3 sets of 5–10 reps
          p.exercisepara
            | Doing any type of plank exercise will make your arms stronger, but doing plank-ups is especially effective for strengthening the triceps and biceps muscles in your arms.
          ul.exercisepoints
            li Start in plank position, with elbows and toes on the floor, core engaged, and torso elevated. 
            li
              | Raise yourself into a push-up position by extending one arm at a time, keeping your body straight. 
            li Lower onto your elbows one arm at a time. Repeat.
            
        .vid
          img(src='/static/images/upperbody_4.gif', alt='')
      .content
        .exercises
          h2.exercisename 5. Triceps dip: 2 sets of 10–12 reps
          p.exercisepara
            | You’ll need a chair, box, ledge, bench, or staircase to do triceps dips. This move will quickly strengthen your triceps (and your pecs!), which tend to need a targeted workout to grow.
          ul.exercisepoints
            li Start seated in a chair (or on a step, etc.).
            li
              | Grab the edge of the chair with hands on either side of hips. 
            li
              |  Lift up and out into a hovering position beyond the chair edge.
            li Extend legs until mostly straight. 
            li Slowly lower yourself toward the floor until elbows are roughly parallel with shoulders. 
            li Push down into your hands to raise back up until your arms are straight again. Repeat. 
        .vid
          img(src='/static/images/upperbody_5.gif', alt='')
      .content
        .exercises
          h2.exercisename 6. Inchworm: 3 sets of 4–6 reps
          p.exercisepara
            | This bodyweight move is (almost) as much fun as it sounds. This is one creepy-crawly exercise that will have you feeling like a little kid again while building your triceps, shoulders, chest, abs, glutes, and quads.
          ul.exercisepoints
            li
              | Stand with knees slightly bent.
            li
              | Bend at your hips and slowly reach down and touch your toes. 
            li Place hands on the floor, then “crawl” them away from your torso until you’re in a plank position. Take insect-size steps forward until feet meet hands. Repeat.
        .vid
          img(src='/static/images/upperbody_6.gif', alt='')
      .content
        .exercises
          h2.exercisename 7. Plank arms walk-out
          p.exercisepara
            | Hey, I’m plank-walkin’ here!
          ul.exercisepoints
            li
              | Start in a high plank position.
            li
              | Slowly walk your hands forward, so that your wrists are no longer under your shoulders and your body is extended.
            li Walk your hands as far forward as possible.
            li Pause at the farthest point for a moment before walking your hands back to the starting position.
            li Continue to repeat for up to 60 seconds.
        .vid
          img(src='/static/images/upperbody_7.gif', alt='')
      .content
        .exercises
          h2.exercisename 8. Dragon flag
          p.exercisepara
            | Do not perform this exercise if you have pre-existing shoulder issues. Once in shoulder stand, look straight ahead, never side-to-side, to protect your neck from injury.
          ul.exercisepoints
            li
              | Find an anchor to hold onto with your arms extended overhead. You could use a chair, bench, or closed door. (We used a floor anchor in the GIF above.)
            li
              | Lie face-up with your knees bent.
            li Shifting your weight into your shoulders, engage your core and lift your feet overhead, like a shoulder stand.
            li Try to keep your legs as straight as possible.
            li Lower your legs, without allowing them to touch the floor, then repeat. 
            li Do 3 to 5 slow, controlled reps.
        .vid
          img(src='/static/images/upperbody_8.gif', alt='')
      .content
        .exercises
          h2.exercisename 9. Incline pushups
          p.exercisepara
            | While pushups are a great exercise for your chest muscles, they also work your deltoids. If you are a beginner, performing a pushup on an incline will allow you to nail perfect form for plenty of reps.
          ul.exercisepoints
            li
              | Set up behind an elevated surface, like a bench or a couch. Place your hands about shoulder-width apart, and form a straight line with your body from head to heel.
            li
              | Keeping your neck neutral, begin to lower your chest down while keeping your elbows at a 45-degree angle.
            li Lower down as far as you can go, then push back up to start.
            li Complete 8–10 reps.
            
        .vid
          img(src='/static/images/upperbody_9.gif', alt='')
      .content
        .exercises
          h2.exercisename 10. Side plank with leg raises
          p.exercisepara
            | When aiming to get a balanced workout for any target area, it’s a good idea to move the joint in all planes of motion. Doing so will help you strengthen muscles all the way around the joint.
          ul.exercisepoints
            li
              | Lie on your side with your bottom arm bent and your forearm on the ground with your hand in front of your body.
            li
              | Press into your forearm and lift your bottom hip off the ground to make a straight line from your foot to the crown of your head. Reach your other arm to the ceiling.
            li If you can hold this position while keeping your chest open to the side, try lifting your top leg.
            li Lower the leg and then lower the hips.
            li Repeat 8–10 times. Or, for an added challenge, hold the side plank while you lift and lower the top leg 8–10 times before lowering down.
            li Repeat on the other side.

        .vid
          img(src='/static/images/upperbody_10.gif', alt='')